In [2]:
import pandas as pd

In [3]:
df_train_house_prices = pd.read_csv('/home/shashank/workspace/datascience/assignment/datavisualization/house-prices-advanced-regression-techniques/train.csv')
df_test_house_prices = pd.read_csv('/home/shashank/workspace/datascience/assignment/datavisualization/house-prices-advanced-regression-techniques/train.csv')

df_train_titanic_prices = pd.read_csv('/home/shashank/workspace/datascience/assignment/datavisualization/data_visualization/titanic/train.csv')
df_test_titanic_prices = pd.read_csv('/home/shashank/workspace/datascience/assignment/datavisualization/data_visualization/titanic/test.csv')

In [33]:
# OBTAINING COLUMN WISE NAN ELEMENT COUNT AND PERCENTAGE

# We'll consider that when more than 15% of the data is missing, we should delete the 
# corresponding variable and pretend it never existed. 
# This means that we will not try any trick to fill the missing data in these cases.

df_train=df_train_house_prices.copy(deep=True)
len(df_train) # it returns total number of rows in a dataframe 
total = df_train.isnull().sum().sort_values(ascending=False) # it gives column wise total NAN elements (series type)
total_nan =df_train.isnull().sum().sum() # it gives total NAN elements in all columns (series type)
df_train.count() # it gives count of non null element in a column (columnwise) (series type)
df_train.isnull().count() # it gives count of total elements(including null element) in a column (columnwise) (series type)
df_train.sum() # it add up all element in a column (if object type then element get concatenated) (series type)
df_train.isnull().count().sum() #  it gives count of total elements(including null element) in entire dataframe
df_train.count().sum() #  it gives count of total elements(excluding null element) in entire dataframe
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) # it returns dataframe  

missing_data.head(20)

              Total   Percent
PoolQC         1453  0.995205
MiscFeature    1406  0.963014
Alley          1369  0.937671
Fence          1179  0.807534
FireplaceQu     690  0.472603
LotFrontage     259  0.177397
GarageCond       81  0.055479
GarageType       81  0.055479
GarageYrBlt      81  0.055479
GarageFinish     81  0.055479
GarageQual       81  0.055479
BsmtExposure     38  0.026027
BsmtFinType2     38  0.026027
BsmtFinType1     37  0.025342
BsmtCond         37  0.025342
BsmtQual         37  0.025342
MasVnrArea        8  0.005479
MasVnrType        8  0.005479
Electrical        1  0.000685
Utilities         0  0.000000

In [46]:
# OBTAINING PERCENTAGE OF NAN ELEMENTS IN A DATAFRAME
print(df_train.isnull().sum().sum())
print(df_train.isnull().count().sum())

p=(float(df_train.isnull().sum().sum())/float(df_train.isnull().count().sum()))*100
p

6965
118260

5.889565364451209

In [ ]:
# Method of renaming a column in a dataframe

missing_data.rename(column={0:"Total_new",})